:root {
    /*--main-purple: #8a05be*/
    --main-purple: #9e1bd1;
    --main-white: #f2ebf6;
    --main-green: #93c42d;
    --main-red: #e5615c;
    --main-blue: #00bcc8;
    --main-black: #3d3d3d;
}

body {
    font-family: 'Nunito Sans', sans-serif;
}

button img {
    height: 100%;
    user-select: none;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.switch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.switch-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .switch-slider {
    background-color: var(--main-green);
}

input:focus + .switch-slider {
    box-shadow: 0 0 1px var(--main-green);
}

input:checked + .switch-slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.switch-slider.round {
    border-radius: 34px;
}

.switch-slider.round:before {
    border-radius: 50%;
}