body {
    background-color: var(--main-purple);
    width: 400px;
    /*height: 700px;*/
    margin: 0;
}

h1 {
    color: var(--main-white);
    margin: 6px 0;
    font-size: 24px;
}

p {
    color: var(--main-white);
    font-size: 16px;
    margin: 6px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px var(--main-purple);
    background-color: var(--main-white);
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
    border-radius: 10px;
}

#header {
    background-color: rgba(0,0,0,0.4);
    padding: 5px 0;
    /*display: flex;*/
    /*justify-content: space-between;*/
    text-align: center;
}

/*#header button {*/
/*    border-radius: 5px;*/
/*    height: 100%;*/
/*    margin: auto 5px auto 0;*/
/*    padding: 4px;*/
/*    background-color: transparent;*/
/*    border: none;*/
/*    transition: 0.2s;*/
/*    outline: none;*/
/*}*/

/*#header button:hover {*/
/*    cursor: pointer;*/
/*    background-color: var(--main-purple);*/
/*}*/

#popup-body {
    margin: 12px;
}

.content-box {
    width: auto;
    background-color: var(--main-white);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.plot-area {
    height: 255px;
}

.purple-text {
    color: var(--main-purple)
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: var(--main-white);
    outline: none;
    opacity: 0.8;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-top: 12px;
    margin-bottom: 12px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--main-blue);
    cursor: pointer;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-bottom: 5px;
    right: 0;
}

h3 {
    color: var(--main-white);
    text-align: center;
    margin: 5px auto;
    font-size: 18px;
}