:root {
    /*--main-purple: #8a05be*/
    --main-purple: #9e1bd1;
    --main-white: #f2ebf6;
    --main-green: #93c42d;
    --main-red: #e5615c;
    --main-blue: #00bcc8;
    --main-black: #3d3d3d;
}

body {
    background-color: var(--main-purple);
    width: 400px;
    /*height: 700px;*/
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
}

h1 {
    color: var(--main-white);
    margin: 6px;
}

p {
    color: var(--main-white);
    font-size: 16px;
    margin: 6px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px var(--main-purple);
    background-color: var(--main-white);
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
    border-radius: 10px;
}

#header {
    background-color: rgba(0,0,0,0.5);
    padding: 10px 0;
}

#popup-body {
    margin: 12px;
}

.content-box {
    width: auto;
    background-color: var(--main-white);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.plot-area {
    height: 300px;
}

.purple-text {
    color: var(--main-purple)
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: var(--main-white);
    outline: none;
    opacity: 0.8;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-top: 12px;
    margin-bottom: 12px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--main-blue);
    cursor: pointer;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-bottom: 5px;
    right: 0;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.switch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.switch-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .switch-slider {
    background-color: var(--main-green);
}

input:focus + .switch-slider {
    box-shadow: 0 0 1px var(--main-green);
}

input:checked + .switch-slider:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
}

/* Rounded sliders */
.switch-slider.round {
    border-radius: 34px;
}

.switch-slider.round:before {
    border-radius: 50%;
}